<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="profile-container">
        <!-- Profile Header -->
        <div class="profile-header">
            <div class="profile-image">
                <img src="https://d3t3ozftmdmh3i.cloudfront.net/production/podcast_uploaded_nologo/1225081/1225081-1561753928917-20f4bd4a91422.jpg" alt="Profile Image">
            </div>
            <div class="profile-info">
                <h1>Name</h1>
                <p>email@example.com</p>
                <p>Joined: YYYY-MM-DD</p>
            </div>
        </div>

        <!-- Podcast List -->
        <!-- <div class="podcast-list">
            <h2>Your Podcasts</h2>
            <ul>
            {{range .Series}}
                <li><div>{{.}}</div><button class="delete-button" hx-delete="/delete/{{.}}" hx-target="#podcast-overview">delete</button></li>
            {{end}}
            </ul>
        </div> -->

        <div id="podcast-overview" hx-get="/podcast-overview" hx-swap="innerHTML" hx-trigger="load"></div>

        <!-- Add Podcast -->
        <div class="add-podcast">
            <h2>Add Podcast</h2>
            <form 
            hx-post="/podcast-overview" 
            hx-target="#podcast-overview" 
            hx-swap="innerHTML"
            id="add-podcast-form">
                <input type="text" name="name" placeholder="Enter podcast URL" required>
                <button type="submit">Submit</button>
            </form>
            <div id="add-podcast-result"></div>
        </div>
    </div>

    <script>
        document.querySelector('#add-podcast-form').addEventListener('htmx:responseError', function (event) {
            if (event.detail.xhr.status === 400) {
                document.querySelector('#add-podcast-result').innerText = 'The provided URL is not a valid rss feed';
            } else if (event.detail.xhr.status === 409) {
                document.querySelector('#add-podcast-result').innerText = 'The provided URL is already in your list';
            }
        });
    </script>
</body>
</html>
