<div class="podcast-header">
    <h1 class="podcast-title">{{.Title}}</h1>
    </div>
    <div class="episodes-wrapper">
      <div class="episodes">
        {{range $episode:= .Episodes}}
          {{template "episode" $episode}}
        {{end}}
      </div>
    </div>


{{define "episode"}}
<div id="{{.Episode_id}}" class="episode" hx-get="/episode?id={{.Episode_id}}" hx-trigger="click" hx-target="#player">
    <img class="thumbnail" src="{{.ImageURL}}" alt="image url">
    <h2 class="episode-title">{{.Title}}</h2>
    <a href="{{.AudioURL}}" download="{{.Title}}.mp3"><button>Download</button></a>
    </div>
{{end}}
